@{
    ViewData["Title"] = "My Hobby";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Shulin's Hobby Page</h1>
    <p>Learn about my hobbies...</p>
    <h2>Snowboarding</h2>
    <img src="~/images/Snowboarding.jpeg" alt="Snowboarding">
    <p>
        I recently began my snowboarding adventure this semester and it's been an absolute thrill from the very start. This is my first time stepping onto a snowboard, and the experience has been nothing short of exhilarating. The rush of sliding down snowy slopes, coupled with the challenge of learning something entirely new, has filled me with an immense joy and excitement. Each fall and subsequent rise has been a lesson in persistence and resilience, deeply enriching my appreciation for this sport. The supportive community of instructors and fellow learners has only amplified my love for snowboarding. Every moment spent on the snow brings a sense of freedom and anticipation for what I can achieve next. It’s a journey I’ve just begun, and I’m already captivated by the endless possibilities that snowboarding offers.

    </p>
    <h2>Violin</h2>
    <img src="~/images/Violin.jpg" alt="Violin">
    <p>
        I've been playing the violin since the tender age of six, and it has become a cherished part of my life. The act of playing the violin is not just a hobby for me; it's a source of profound enjoyment and tranquility. Whenever I pick up my violin and start to play, it's as if the world around me transforms. The melodies that flow from the strings bring me a sense of peace that's hard to find elsewhere. It's a magical experience, where each note seems to carry away the stresses and noise of everyday life, leaving behind a serene calm. The violin has been a constant companion through various chapters of my life, offering comfort and joy in equal measure. It's a unique bond that I've formed with music through the violin, one that continues to enrich my soul and elevate my spirits every time I play.

    </p>

</div>
